.App {
  text-align: center;
  background-color: rgb(227, 241, 241);
}

.alphabet > div{
  display: inline;
}

.main{
  display: flex;
  justify-content: space-around;
}

.word {
  font-size: 30px;
}

.alphabet{
  margin: 5% 20%;
 
}

.alphabet > button{
 width: 50px;
 height: 40px;
 margin: 5px;
 border-radius: 8px;


}